{% extends "base.html" %}
{% block style %}

{% endblock style %}
{% block content %}
{% load static %}
<div class="container d-flex flex-column gap-5 my-5">
    <div class="row d-flex flex-column gap-5">
        <div class="col">
            <img class="rounded-3" src="{% static 'assets/Banner/Accessories.png' %}" alt="Accessories">
        </div>
        <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit consectetur voluptatibus autem?
                Voluptatibus debitis fugiat a, labore totam doloribus unde iure mollitia hic magnam, quam, officiis
                culpa maiores? Delectus, laborum.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur optio quibusdam odio vitae illum
                voluptas asperiores, dignissimos unde possimus aperiam nihil, obcaecati facilis molestiae mollitia at,
                commodi ea modi enim.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste vero enim voluptates nulla ducimus
                architecto quo quam? Sed, dolore nisi cupiditate totam repudiandae quas voluptas aliquam hic eaque quos
                non.
            </p>
        </div>
    </div>
    <div class="row d-flex flex-column gap-3">
        <h1>Price Strategy</h1>
        <div class="col">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae libero cumque repellendus dolorum esse at
                maxime consequuntur iste reprehenderit, iusto rem dolorem molestias numquam, saepe aut minus eos!
                Exercitationem, ratione.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, explicabo mollitia totam dicta
                voluptatibus error quae enim qui eos optio velit quaerat. Accusantium, consequatur? Dolor asperiores at
                facere voluptatum itaque.
            </p>
        </div>
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero eveniet quidem ex magnam laboriosam
                accusamus! Beatae atque voluptate quis dolorum, dignissimos labore laudantium cum veritatis unde aperiam
                alias eligendi repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus error et laborum nesciunt soluta
                corrupti consequatur nisi nam consequuntur quam quasi nostrum eveniet, natus praesentium quae culpa
                eaque, quaerat harum.
            </p>
        </div>
    </div>
</div>
{% endblock content %}