{% extends "base.html" %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    .custom-modal {
        color: #000;
    }
</style>
{% block content %}
<div class="container mb-4">
    <div class="row">
        <div class="col-4 d-flex rounded-3 justify-content-center p-3" style="background-color:#EDF2F4">
            <img src="{{ product.thumbnail }}" alt="{{ product.name }}" class="img-product">
        </div>
        <div class="col ms-3">
            <h5>{{ product.name }}</h5>
            <p>{{ product.unit }} {{ product.price | floatformat:0 }}</p>
            <p>{{ product.description }}</p>
            <div class="flex">
                <div class="flex flex-column">
                    <section class="flex items-center w-50">
                        <h5>Quantity</h5>
                        <div class="flex items-center">
                            <div class="mx-2">
                                <div class="input-quantity row border-1 border-black ">
                                    <div class="col card rounded-0 ">
                                        <button aria-label="Decrease" class=" btn quantity-button"
                                            data-action="decrease"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                    <div class="col card rounded-0 d-flex text-center align-items-center p-1">
                                        <input class="border-0" type="hidden" name="quantity" id="quantity-input"
                                            role="spinbutton" placeholder="enter the quantity" aria-live="assertive"
                                            aria-valuenow="1" value="1" min="1">
                                        <span aria-live="assertive" id="quantity-value">1</span>
                                    </div>
                                    <div class="col card rounded-0 ">
                                        <button aria-label="Increase" class=" btn quantity-button"
                                            data-action="increase">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div>{{ product.amount }} products available</div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="m-3">
                <div class="high-button-section">
                    <div class="btn-group gap-3">
                        <form class="add-to-cart-form">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.pk }}">
                            <input type="hidden" name="quantity" value="1" min="1"
                                class="cart-quantity border-0 text-center" placeholder="...">
                            {% if user.is_authenticated %}
                            <button type="button" class="btn btn-outline-danger rounded-0 add-to-cart-btn "
                                aria-disabled="false" id="openPopup">
                                + Add To Cart
                            </button>
                            {% else %}
                            <a href="{% url 'login' %}" class="btn btn-outline-danger rounded-0 add-to-cart-btn ">+ Add
                                To Cart</a>
                            {% endif %}
                            <div class="modal fade" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content custom-modal">
                                        <div
                                            class="modal-body d-flex flex-column justify-content-center align-items-center">
                                            {% load static %}
                                            <img src="{% static 'assets/Section/yes.png' %}" alt="cart" width="100rem">
                                            <h3 class="text-center">Successfully added to cart!</h3>
                                        </div>
                                        <a href="/cart/" class="btn btn-primary text-white">View Cart</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form action="{% url 'buy_now' product.id %}" class="purchase-form" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="purchase-quantity" value="1" min="1"
                                class="purchase-quantity border-0 text-center" placeholder="...">
                            {% if user.is_authenticated %}
                            <button type="submit" class="btn btn-danger rounded-0 ">
                                Purchase Now!
                            </button>
                            {% else %}
                            <a href="{% url 'login' %}" class="btn btn-danger rounded-0 ">Purchase Now!</a>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2>Related Products</h2>
    <div class="row">
        {% for related_product in related_products %}
        <div class="col-md-3">
            <a href="{% url 'product_detail' related_product.pk %}" class="text-decoration-none text-black">
                <div class="card mb-4 p-3 ">
                    <img src="{{ related_product.thumbnail }}" class="card-img-top" alt="{{ related_product.name }}">
                    <div class="card-body">
                        <h6 class="card-title">{{ related_product.name }}</h6>
                        <p class="card-text">{{ related_product.unit }} {{ related_product.price | floatformat:0}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container mb-4">
    <h2>Reviews</h2>
    <div class="row">
        {% for review in reviews %}
        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ review.name }}</h5>
                    <p class="card-text">{{ review.review }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="#write-review" class="btn btn-primary">Write a review</a>
</div>
<div class="container" id="write-review">
    <h2>Write a review</h2>
    <form method="post" action="../review/add/">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.pk }}">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="review">Review</label>
            <textarea class="form-control" id="review" name="review" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="container">
    <p></p>
    <h2>Similar Products</h2>
    <div class="row">
        {% for similar_product in similar_products %}
        <div class="col-3">
            <a class="text-decoration-none text-black" href="{% url 'product_detail' similar_product.pk %}">
                <div class="card mb-4 p-3 ">
                    <img src="{{ similar_product.thumbnail }}" class="card-img-top" alt="{{ similar_product.name }}">
                    <div class="card-body">
                        <h6 class="card-title">{{ similar_product.name }}</h6>
                        <p class="card-text">{{ similar_product.unit }} {{ similar_product.price | floatformat:0 }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
{% endblock content %}
{% block scripts %}
<script>
    document.getElementById("write-review").style.display = "none";

    document.addEventListener('DOMContentLoaded', function () {
        const decreaseButtons = document.querySelectorAll('.quantity-button[data-action="decrease"]');
        const increaseButtons = document.querySelectorAll('.quantity-button[data-action="increase"]');
        const quantityInput = document.getElementById('quantity-input');
        const quantityValue = document.getElementById('quantity-value');

        decreaseButtons.forEach(button => {
            button.addEventListener('click', () => {
                let currentValue = parseInt(quantityValue.textContent);
                if (currentValue > 1) {
                    currentValue--;
                    quantityValue.textContent = currentValue;
                    quantityInput.value = currentValue;
                    updateCartQuantity(currentValue);
                }
            });
        });

        increaseButtons.forEach(button => {
            button.addEventListener('click', () => {
                let currentValue = parseInt(quantityValue.textContent);
                currentValue++;
                quantityValue.textContent = currentValue;
                quantityInput.value = currentValue;
                updateCartQuantity(currentValue);
            });
        });
        function updateCartQuantity(newValue) {
            const cartQuantityInput = document.querySelector('.add-to-cart-form .cart-quantity');
            const purchaseQuantity = document.querySelector('.purchase-form .purchase-quantity')
            cartQuantityInput.value = newValue;
            purchaseQuantity.value = newValue;
        }
    });

    document.querySelectorAll('.add-to-cart-btn').forEach(function (btn) {
        btn.addEventListener('click', function () {
            const form = this.closest('.add-to-cart-form');
            const formData = new FormData(form);
            const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            fetch(`{% url 'add_to_cart' 0 %}`.replace('0', formData.get('product_id')), {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Accept': 'application/json',
                },
                body: formData,
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    // Handle the successful response
                    console.log('Cart item added:', data);
                    // You can update the cart count or display a success message here
                })
                .catch(error => {
                    // Handle the error
                    console.error('Error:', error);
                });
        });
    });


    document.addEventListener('DOMContentLoaded', function () {
        // Show the modal when button is clicked
        document.getElementById('openPopup').addEventListener('click', function () {
            var myModal = new bootstrap.Modal(document.getElementById('popupModal'), {
                keyboard: false
            });
            myModal.show();
            // Hide the modal after 1000 milliseconds (1 second)
            setTimeout(function () {
                myModal.hide();
            }, 2000);
        });
    });
</script>

{% endblock scripts %}